<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PasswordManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Account" asp-action="Accounts">
                    <img src="/PasswordManager/Images/passmanager.svg" alt="" width="35" height="35" class="d-inline-block align-text-top">Password Manager
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="Accounts">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Bank" asp-action="Banks">Bank</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Password" asp-action="Generate">Generate a password</a>
                        </li>

                    </ul>

                    <div class="d-flex">
                        @using Microsoft.AspNetCore.Http
                        @if (Context.Session.GetString("Username") != null)
                        {
                            <h2 style="margin-right:20px">Hey @Context.Session.GetString("Username") ! </h2>
                        }
                        <button class="btn btn-outline-danger" type="button" onclick="location.href='@Url.Action("Deconnexion", "User")'"> Log out </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Password Manager | arnaud.lassartesse - goh-kenedja.coulibaly - antoine.claudel - kenz.narainen 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
