@model AccountViewModel

@{
    ViewBag.Title = "Accounts";
    var accounts = ViewBag.Accounts;
    var categories = ViewBag.Categories;
}

<script>
    function deleteAccount() {
        if (confirm("Are you sure to delete this account?")) {
            var tr = $(this).parents('tr:first');
            console.log(tr);
            var ID = $(this).prop('id');
            console.log();
            //Deletes the record with ID sent below  
            $.post(
                '/Accounts/Delete/',
                { ID: ID },
                function (item) {
                    tr.remove();
                }, "json");
            location.reload();
        }
    });  
</script>

<div>
    <h1 class="display-4">Accounts</h1>
    <div>
        @foreach (var category in categories)
        {
            <table class="table table-hover table-primary">
                <tr>
                    <th colspan="5">@category.Name</th>
                </tr>
                @foreach (var account in accounts)
                {
                    @if (account.CategoryId == category.Id)
                    {
                        <tr>
                            <td>@account.Name</td>
                            <td>@account.Login</td>
                            <td>@account.Password</td>
                            <td>@account.Url</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Edit</button>
                                <button type="button" class="btn btn-primary" onclick="deleteAccount()">Delete</button>
                            </td>
                        </tr>
                    }
                }
                <td colspan="5">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Add</button>
                </td>
            </table>
        }
        <table class="table table-hover table-primary">
            <tr>
                <th colspan="5">All elements</th>
            </tr>
            @foreach (var account in accounts)
            {
                <tr>
                    <td>@account.Name</td>
                    <td>@account.Login</td>
                    <td>@account.Password</td>
                    <td>@account.Url</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Edit</button>
                        <button type="button" class="btn btn-primary" onclick="deleteAccount()">Delete</button>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Add</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add an account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("Add", "Account", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col">
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                            <div class="form-group col">
                                @Html.LabelFor(m => m.Category)
                                @Html.TextBoxFor(m => m.Category, new { @id = "categoryTextbox", @class = "form-control", @style = "position:absolute;width:75%;border-top-right-radius:0;border-bottom-right-radius:0;" })
                                @Html.DropDownListFor(m => m.Category, new SelectList(categories, "Id", "Name"), "", new { @class = "form-control", @onchange = "document.getElementById('categoryTextbox').value = this.options[this.selectedIndex].text;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                @Html.LabelFor(m => m.Login)
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                            </div>
                            <div class="form-group col">
                                @Html.LabelFor(m => m.Password)
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Url)
                            @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
